/* Style to center everything*/
.center{
  margin: auto;
  width: 80%;
}

/*The style for this footer was taken from https://www.geeksforgeeks.org/how-to-create-footer-to-stay-at-the-bottom-of-a-web-page/ with some modification added*/
#footer {
  position:absolute;
  bottom:0;
  right: 0;
  padding-top: 10px;
  width:100%;
  height: 60px;   /* Height of the footer */
  background:rgb(81, 84, 85);
  text-align: center;
  color: #f1f1f1;
}

